@page
@model Alkemy.Models.ListaPersonajes

@section css{
    <link href="~/css/characters.css" rel="stylesheet" />
}


<h1>PERSONAJES</h1>
<input type="text" name="name" id="input-name" placeholder="Nombre" />
<form>
    <input type="number" name="age" id="input-age" />
    <input type="number" name="weight" id="input-weight" />
    <select name="movies" id="select-movies">
        <option value="none">--------------------------</option>
    </select>
</form>
<button id="btnFilter">Filtrar</button>

<div class="list-characters">
    <table>
        <thead>
            <tr>
                <th>Imágen</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
</div>

@section scripts{
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/characters.js"></script>
}